@import "../../assets/variables";
@import "../../assets/mixins";

.scaleTrainer {
    @include grid(12);

    @include breakpoint(mobile) {
        &__menuBar {
            @include fill-row;
        }

        &__accidentals, &__scales, &__modes {
            @include fill-row;

            summary {
                padding: 1em;
                margin: 0;
                border-bottom: $border;

                &:active, &:focus {
                    outline: 0;
                }
            }

            &:first-child summary:not([open]) {
                border-top: $border;
            }

            &[open] summary {
                border: 0;
            }
        }

        &__menuItemGroup {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 1em;
            border-bottom: $border;
        }

        &__menuItem {
            margin-bottom: 1em;
        }

        &__menuBar {
            border-bottom: $border;
        }

        &__menu {
            display: block;
            position: absolute;
            visibility: visible;
            background-color: white;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            transform: translate3d(-100%, 0, 0);
            transition: transform 0.5s;

            &--open {
                transform: translate3d(0, 0, 0);
                box-shadow: 0 0 5em black;
            }
        }

        &__openMenuButton {
            @include icon-button('./images/burger.svg');
        }

        &__closeMenuButton {
            @include icon-button('./images/close.svg');
        }
    }

    @include breakpoint(tablet) {
        &__menu {
            right: auto;
            width: 300px;
        }
    }

    @include breakpoint(desktop) {
        &__options {
            @include fill-row;
        }

        &__accidentals {
            @include column-span(3);
        }

        &__scales {
            @include column-span(6);
            @include grid(5, 2);
            grid-auto-flow: column;
        }

        &__modes {
            @include column-span(3);
        }
    }
}