@import "../../assets/variables";
@import "../../assets/mixins";

.scaleQuestion {
    @include fill-row;
    @include grid(12);

    @include breakpoint(mobile) {
        &__scaleName {
            @include headline(1.5em);
        }

        &__alternativeModeName {
            @include headline(1em);
        }

        &__question, &__answer {
            @include fill-row;
            margin: 0 1em;

            p {
                margin-bottom: 0.5em;
                margin-top: 0;
            }
        }

        &__notes {
            @include auto-fill-grid(2);
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        &__note {
            @include column-span(2);
            @include grid(2);

            &--error {
                outline: 1px solid red;
            }

            &--highlighted {
                outline: 3px solid $color-light-blue;
            }
        }

        &__pitch {
            @include fill-row(2);
            text-align: center;

            input {
                font-size: 45px;
                width: 1em;
                text-align: center;
                border: 1px solid grayscale($color-light-blue);
                outline: 0;
                height: calc(100% - 2px);

                &:focus {
                    border-color: $button-background-color-hover;
                }
            }
        }

        &__accidentals {
            @include fill-row(2);
        }

        &__accidental {
            text-align: center;

            label {
                display: inline-flex;
                align-items: center;
            }
        }

        input:checked + &__accidentalValue {
            font-weight: bold;
        }

        input:not(:checked) + &__accidentalValue {
            font-weight: lighter;
            color: grayscale($color-light-blue);
        }

        &__actions {
            @include grid(3, 1, 0);
            position: fixed;
            bottom: 1em;
            left: 0;
            width: 100%;
        }

        &__playButton {
            display: none;
        }

        &__solution {
            @include fill-row;
        }

        &__solution, &__hint {
            @include fill-row;
        }
    }

    @include breakpoint(tablet) {
        &__notes {
            @include auto-fill-grid(2, 2.3em);
        }
        &__note {
            @include grid(2);
        }

        &__pitch {
            @include column-span(1);
            text-align: right;
        }

        &__accidentals {
            @include column-span(1);
        }

        &__accidental {
            text-align: left;
        }
    }

    @include breakpoint(desktop) {
        &__actions {
            @include grid(4, 1, 0);
            display: block;
            position: relative;
            text-align: center;
            margin: 1em;
        }

        &__playButton {
            display: inline-block;
        }
    }

    &__note {
        &--error {
            outline: 1px solid red;
        }
    }

    &__hint, &__solution {
        padding: 1em;
        margin-bottom: 1em;

        h1 {
            font-size: $font-size;
            font-weight: bold;
            margin: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__hint {
        background-color: $hint-background-color;
    }

    &__solution {
        &--correct {
            background-color: $solution-background-color-correct;
            color: $solution-color-correct;
        }

        &--wrong {
            background-color: $solution-background-color-wrong;
            color: $solution-color-wrong;
        }
    }

    &__fretboard > div {
        color: black;
        padding: 1em 0 0.5em;
        box-shadow: 0 0.5em 1em black;
    }

    button {
        font: $font;
        background-color: $button-background-color;
        border: 0;
        padding: 1em 0;
        margin: 0;
        color: white;
        font-weight: bold;
        transition: all 0.4s;
        max-width: 150px;

        @include breakpoint(phablet) {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        @include breakpoint(desktop) {
            margin: 1em;
        }

        &:hover, &:active, &:focus {
            outline: 0;
        }

        &:hover {
            background-color: $button-background-color-hover;
        }

        &:active {
            transition-duration: 0s;
            background-color: $button-background-color-active;
        }

        &:disabled {
            background-color: $button-background-color-disabled;
        }
    }
}