@import "../../assets/variables";
@import "../../assets/mixins";

.scaleQuestion {
    @include fill-row;
    @include grid(12);

    @include breakpoint(mobile) {
        &__scaleName {
            @include headline(1.5em);
        }

        &__alternativeModeName {
            @include headline(1em);
        }

        &__question, &__answer {
            grid-column: 2 / span 10;
            p {
                margin-bottom: 0.5em;
                margin-top: 0;
            }
        }

        &__answer {
            margin-bottom: 5em;
        }

        &__notes {
            @include auto-fill-grid(null, #{$pitch-column-width + $accidental-column-width}, 0em);
            @include center-column;
            grid-row-gap: 0.5em;
            font-size: 45pt;
        }

        &__actions {
            @include grid(4, 1, 0);
            position: fixed;
            bottom: 1em;
            left: 0;
            width: 100%;
        }

        &__solution, &__hint {
            @include fill-row;
            margin-bottom: 5em;
            padding: 1em;

            h1 {
                font-size: $font-size;
                font-weight: bold;
                margin: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }


        &__hint {
            background-color: $hint-background-color;
            color: $hint-color;
        }

        &__solution {
            &--correct {
                background-color: $solution-background-color-correct;
                color: $solution-color-correct;
            }

            &--wrong {
                background-color: $solution-background-color-wrong;
                color: $solution-color-wrong;
            }
        }
    }

    @include breakpoint(desktop) {
        &__answer {
            margin-bottom: 0;
        }

        &__notes {
            @include auto-fill-grid(null, #{$pitch-column-width + $accidental-column-width}, 1em);
        }

        &__actions {
            display: block;
            position: relative;
            text-align: center;
            margin: 1em 0;
        }

        &__question, &__hint, &__solution {
            @include column-padding(1);
        }

        &__playButton {
            display: inline-block;
        }
    }

    &__fretboard > div {
        color: black;
        padding: 1em 0 0.5em;
        box-shadow: 0 0.5em 1em black;
    }
}