@import "../../assets/mixins";

.breakpoint {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    &--desktop {
        background-color: green;
        color: white;

        @include debug() {
            @include breakpoint(desktop) {
                display: block;
            }
        }
    }

    &--tablet {
        background-color: yellow;

        @include debug() {
            @include breakpoint(tablet) {
                display: block;
            }
        }
    }

    &--mobile {
        background-color: red;
        color: white;

        @include debug() {
            @include breakpoint(mobile) {
                display: block;
            }
        }
    }
}
