@import "../../assets/variables";
@import "../../assets/mixins";

.note {
    @include grid-with-areas("pitch accidentals");
    width: calc(#{$pitch-column-width} + #{$accidental-column-width});
    font-size: $note-font-size;

    &--error {
        outline: 2px solid red;
        outline-offset: 10px;
    }

    &--highlighted {
        z-index: 2;

        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 2em;
            height: 1.6em;
            margin: -0.2em;
            background-color: rgba($color-light-blue, 0.3);
            border: 2px solid $color-light-blue;
            border-radius: 20px;
        }
    }

    &__pitch {
        grid-area: pitch;
        width: $pitch-column-width;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        input {
            font-size: $note-font-size;
            width: calc(#{$pitch-column-width} - 2px);
            border: $border;
            border-radius: 20px 0 0 20px;
            text-align: center;

            &:focus {
                border-color: $color-blue;
                outline: 0;
            }
        }
    }

    &__accidentals {
        @include vertical-grid;
        grid-area: accidentals;
        width: $accidental-column-width;
        justify-items: left;

        @include breakpoint(mobile) {
            /** Mobile Safari adds some weird spacing **/
            margin-top: -1.5px;
            margin-bottom: -1.5px;
            align-content: space-evenly;
        }

        @include breakpoint(desktop) {
            margin: 0;
            align-content: space-between;
        }
    }

    &__accidental {
        border: $border;
        background-color: $color-gray;
        color: white;
        width: 80%;
        height: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 10pt;
        line-height: 16pt;
        font-weight: bold;
        cursor: pointer;

        @include button-effects;
    }
}