@import "variables";
@import "mixins";

button {
    font: $font;
    background-color: $button-background-color;
    border: 0;
    padding: 1em 0;
    margin: 0;
    color: white;
    font-weight: bold;
    max-width: 150px;

    @include breakpoint(phablet) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    @include breakpoint(desktop) {
        margin: 1em;
    }

    @include button-effects;
}