$font-size: 12pt;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font: $font-size $font-family;

$color-light-blue: #61dafb;

$button-background-color: darken($color-light-blue, 10);
$button-background-color-hover: $color-light-blue;
$button-background-color-disabled: grayscale($color-light-blue);

$hint-background-color: lighten(adjust_hue($color-light-blue, 10deg), 20);

$solution-background-color-correct: adjust_hue(complement($color-light-blue), 130deg);
$solution-color-correct: black;
$solution-background-color-wrong: complement($color-light-blue);
$solution-color-wrong: white;
