@import "assets/variables";

.scaleTrainer {
    &__options {
        margin: 0;
        padding: 1em 0;
        display: grid;
        grid-template-columns: auto 1fr auto;

        label {
            margin-right: 1em;
        }

        fieldset {
            display: grid;
            grid-template-columns: auto auto;
            border: 1px solid grayscale($color-light-blue);
        }

        legend {
            font-weight: bold;
        }
    }

    &__scales {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
    }
}