@import "assets/variables";

.scaleQuestion {
    font: $font;

    &__notes {
        display: grid;
        column-gap: 1em;
    }

    &__note {
        display: grid;
        grid-row: 1;
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }

    :not(.scaleQuestion__intervalHint) + .scaleQuestion__intervalHint {
        grid-column: 2 / span 2;
    }

    &__intervalHint {
        grid-row: 2;
        text-align: center;
        grid-column: span 2;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    &__pitch {
        input {
            font-size: 60px;
            width: 1em;
            text-align: center;
            border: 1px solid grayscale($color-light-blue);
            outline: 0;

            &:focus {
                border-color: $button-background-color-hover;
            }
        }
    }

    &__accidentals {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
    }

    &__accidental {
        flex: 1;
        display: flex;

        label {
            display: inline-flex;
            align-items: center;
        }
    }

    &__hint, &__solution {
        padding: 1em;
        margin-bottom: 1em;

        h1 {
            font-size: $font-size;
            font-weight: bold;
            padding: 0;
            margin-bottom: 0.5em;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__hint {
        background-color: $hint-background-color;
    }

    &__solution {
        &--correct {
            background-color: $solution-background-color-correct;
            color: $solution-color-correct;
        }

        &--wrong {
            background-color: $solution-background-color-wrong;
            color: $solution-color-wrong;
        }
    }

    button {
        font: $font;
        background-color: $button-background-color;
        border: 0;
        padding: 1em;
        margin: 1em;
        color: white;
        font-weight: bold;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;

        &:hover, &:active, &:focus {
            outline: 0;
        }

        &:hover {
            background-color: $button-background-color-hover;

            &:not(:disabled) {
                padding: 0.8em 1em;
                margin: 1.1em 1em;
            }
        }

        &:active {
            transition-duration: 0s;
            background-color: $button-background-color-active;
        }

        &:disabled {
            background-color: $button-background-color-disabled;
        }
    }
}